## Explore the app_events dataset

In [1]:
# imports
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style('whitegrid')
%matplotlib inline

import sys
reload(sys)
sys.setdefaultencoding("utf-8")

import matplotlib.font_manager as fm
font = fm.FontProperties(fname='c:\\windows\\fonts\\simsun.ttc')

In [2]:
app_event = pd.read_csv('app_events.csv')

In [5]:
app_event.head(20)

    event_id               app_id  is_installed  is_active
0          2  5927333115845830913             1          1
1          2 -5720078949152207372             1          0
2          2 -1633887856876571208             1          0
3          2  -653184325010919369             1          1
4          2  8693964245073640147             1          1
5          2  4775896950989639373             1          1
6          2 -8022267440849930066             1          0
7          2  9112463267739110219             1          0
8          2 -3725672010020973973             1          0
9          2  7167114343576723123             1          1
10         2   487766649788038994             1          0
11         2  7460082553072507347             1          0
12         2   628020936226491308             1          0
13         2   701031210314548601             1          0
14         2 -1758857579862594461             1          0
15         2  4348659952760821294             1          0
16         2 -8942695423876075857             1          0
17         2  5497109940653330488             1          1
18         2  3717049149426646122             1          0
19         6 -7377004479023402858             1          1

In [4]:
app_event.shape

(32473067, 4)

In [13]:
len(app_event.event_id.unique())

1488096

In [14]:
len(app_event.app_id.unique())

19237

## Explore the label_categories dataset

In [6]:
label_category = pd.read_csv('label_categories.csv')

In [7]:
label_category.head(10)

   label_id              category
0         1                   NaN
1         2        game-game type
2         3      game-Game themes
3         4        game-Art Style
4         5     game-Leisure time
5         6   game-Cutting things
6         7    game-Finding fault
7         8  game-stress reliever
8         9              game-pet
9        10           game-Answer

There are null values in category.

In [10]:
label_category.shape

(930, 2)

In [11]:
label_category.category.nunique()

835

In [15]:
label_category.label_id.nunique()

930

## Merge app_events and label_categories by app_labels

In [16]:
app_label = pd.read_csv('app_labels.csv')

In [17]:
app_label.head(10)

                app_id  label_id
0  7324884708820027918       251
1 -4494216993218550286       251
2  6058196446775239644       406
3  6058196446775239644       407
4  8694625920731541625       406
5  8694625920731541625       407
6  1977658975649789753       406
7  1977658975649789753       407
8  7311663864768030840       256
9  5902120154267999338       256

In [18]:
app_label.shape

(459943, 2)

In [19]:
app_label.app_id.nunique()

113211

In [20]:
app_label.label_id.nunique()

507

In [21]:
app_label_category = pd.merge(app_label, label_category, on = 'label_id', how = 'inner')

In [ ]:
app_event_merge = pd.merge(app_event, app_label_category, on = 'app_id', how = 'inner')